[defaults]
forks = 10
ask_sudo_pass=True
ask_pass=True
host_key_checking = False
gathering = smart
log_path = $HOME/.ansible/ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
